name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    environment: release

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build Windows
        if: matrix.os == 'windows-latest'
        run: yarn build:win
        env:
          VITE_MAL_CLIENT_ID: ${{ vars.VITE_MAL_CLIENT_ID }}
          VITE_MAL_REDIRECT_URI: ${{ vars.VITE_MAL_REDIRECT_URI }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VITE_DEFAULT_EXTENSIONS: ${{ secrets.VITE_DEFAULT_EXTENSIONS }}

      - name: Build macOS
        if: matrix.os == 'macos-latest'
        run: yarn build:mac
        env:
          VITE_MAL_CLIENT_ID: ${{ vars.VITE_MAL_CLIENT_ID }}
          VITE_MAL_REDIRECT_URI: ${{ vars.VITE_MAL_REDIRECT_URI }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VITE_DEFAULT_EXTENSIONS: ${{ secrets.VITE_DEFAULT_EXTENSIONS }}
          CSC_LINK: ${{ secrets.MAC_CERTS_P12_B64 }}
          CSC_KEY_PASSWORD: ${{ secrets.MAC_CERTS_P12_PASSWORD }}
          APPLE_API_KEY: ${{ secrets.APPLE_API_KEY_P8_B64 }}
          APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
          APPLE_API_ISSUER: ${{ secrets.APPLE_API_ISSUER }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}

      - name: Create artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-${{ matrix.os }}
          if-no-files-found: error
          path: |
            dist/win-unpacked/**
            dist/*-portable.exe
            dist/*.exe
            dist/mac/**
            dist/*.dmg
            dist/*.zip
            dist/*.yml
            dist/*.blockmap

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: |
            dist/*.exe
            dist/*.dmg
            dist/*.zip
            dist/*.yml
            dist/*.blockmap
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
